.Overview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.OverviewTitle {
  width: 100%;
  text-align: center;
}

.ContinentCard {
  margin: 10px 25px 10px 25px;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  width: 350px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 10px black;
  transition-duration: 0.2s;
}


.ContinentCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.ContinentCard h1{
  padding: 10px 0 25px 0;
}