.VaccineContainer {
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  gap: 50px;
}

.VaccineContainer div, a, h3 {
  width: 300px;
}

.VaccineContainer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
  height: 50px;
  justify-content: center;
  box-shadow: 1px 1px 5px black;
}

.VaccineContainer a:hover {
  background-color: white;
  color: black;
}